.row{
  display: flex;
  .item{
    margin: 0;
    text-align: right;
    border: 1px solid gray;
  }
}
.groupTotal{
  color: mediumblue;
  font-weight: bolder;
  .totalItem {
    margin: 0px;
    border: 1px solid gray;
    box-sizing: content-box;
  }
}

